@{
    ViewData["Title"] = "Home Page";
}

  

<div>
    <div>
        <h1 class="display-3" style="text-align:center">Bienvenidos a nuestro instituto</h1>
    </div>
    <div>
        <h3 class="display-4"style="text-align:center">Ort Falso</h3>
    </div>
    <div>
        <h5>
            ORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buenaORt falso es una institucion muy buena
        </h5>

    </div>

</div>
